@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,700&display=swap&subset=chinese-simplified');

::-webkit-scrollbar {display:none}

body {
    font-family: Kaiti,'Noto Sans SC', sans-serif;
    font-weight: lighter;
    background: #FFFFFF;
    overflow: hidden;
}

body.dark {
    background: black;
    color: #FFFFFF;
}

h1, h2 {
    text-align: center;
    font-family: Kaiti,'Noto Sans SC', Georgia, 'Times New Roman', Times, serif;
    color:#010101;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-family: Kaiti,'Noto Sans SC';
    font-weight: lighter;
    color: #BBB;
}

.dark h2 {
    color: #666;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

h3.written-in-ink {
    font-size: 9pt;
    font-family: Kaiti,'Noto Sans SC';
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
}

h3 a {
    color: #D50303;
}

.dark h3.written-in-ink {
    background: black;
}


/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 95%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: #FFFFFF;
}

.dark .container {
    background: black;
}

p {
    font-size: 13pt;
    color: #151515;
    line-height: 1.7em;
    font-weight: lighter;
}

a {
    font-weight: 700;
    font-family: Kaiti,'Noto Sans SC';
    transition: color 0.6s;
    text-decoration: none;
}

.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}

.dark a:hover {
    color: #FFFFFF;
}

strong {
    color: black;
    font-weight: bold;
}

.dark strong {
    color: #FFFFFF;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em; 
}

p.choice a {
    font-size: 15pt;
    color: #D50303;
}

p.choice a:hover {
    color: #FC0505;
    transition: color 1s;
}

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark .end {
    color: #FFFFFF;

}

.foot {
    width:100%; 
    height:36px; 
    line-height:1.7em;  
    position:fixed; 
    bottom:0px; 
    left:0px; 
    text-align:center;
    color:#FFFFFF;
    background:black;
}

.foot a {
    color:#FFFFFF;
}

/* Gitalk
 */
.foot {
    width:100%; 
    height:36px; 
    line-height:1.7em;  
    position:fixed; 
    bottom:0px; 
    left:0px; 
    text-align:center;
    color:#515C6B;
    background:#FFFEFA;
}

.foot a {
    color:#515C6B;
    text-decoration:none;
}
.gitalk {
    width:80%; 
    height:100%; 
    margin: 0 auto;
    position:absolute; 
    top:100%; 
    left:50%;
    transform: translateX(-50%);
}

/* Map
*/
#map_lxsz{
	position: fixed;
	background-color: #80808017;
  left: 10px;
  top: 10px;
	display:none;
	margin: 5px; 
	font-family: Kaiti,'Noto Sans SC', Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 800px) {
  #map_lxsz{
    position: initial;
    background-color: #FFF;
    display:none;
    margin: 5px; 
    font-family: Kaiti,'Noto Sans SC', Georgia, 'Times New Roman', Times, serif;
  }
}

/* Font Style
*/
.bold{
	font-weight:bold;
}
.bolder{
	font-weight:bolder;
}
.lighter{
	font-weight:bolder;
}
.italic{
	font-style:italic;
}

.underline{
	text-decoration:underline;
}
.overline{
	text-decoration:overline;
}
.thoughline{
	text-decoration:line-through;
}

.red{
	color:red;
}
.green{
	color:green;
}
.yellow{
	color:yellow;
}
.blue{
	color:blue;
}
.white{
	color:white;
}
.black{
	color:black;
}
.silver{
	color:silver;
}
.gray{
	color:gray;
}
